/* 
1.Posicionamiento
2.Modelo de caja (Box model)
3.Tipografia
4.Visuales
5.otros
*/

:root {
    /* colores */
    --bitcoin-orange:#f7931A;
    --soft-orange:#ffe9d5;
    --secondary-blue:#1a9af7;
    --soft-blue:#e7f5ff;
    --warm-black:# 201e1c;
    --black:#282623;
    --grey:#bababa ;
    --off-white:#faf8f7;
    --just-white:#fff;
}

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(232deg, #201e1c, #f7931a);
    background-size: 400%400%;

    -webkit-animation: bgAnimateBitcoin 20s ease infinite;
    -moz-animation: bgAnimateBitcoin 20s ease infinite;
    animation: bgAnimateBitcoin 20s ease infinite;
}

header img {
    width: 100%;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header-title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header-title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header-title-container p  {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header-title-container .header-button {
    position: absolute;
    left: calc(50% - 114.5px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.header-button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/assets/icons/down-arrow.svg');
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container-titel {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;

}






@-webkit-keyframes bgAnimateBitcoin {
    0%{background-position:0%50%}
    50%{background-position:100%50%}
    100%{background-position:0%50%}
}
@-moz-keyframes bgAnimateBitcoin {
    0%{background-position:0%50%}
    50%{background-position:100%50%}
    100%{background-position:0%50%}
}
@keyframes bgAnimateBitcoin {
    0%{background-position:0%50%}
    50%{background-position:100%50%}
    100%{background-position:0%50%}
}

